.HyggeList {
  overflow-x: auto;
  overflow-y: visible;
  white-space: nowrap;
}

.Wrap {
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  white-space: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
