.HyggeList {
  overflow-x: auto;
  overflow-y: visible;
  white-space: nowrap;
}

.HyggeList::-webkit-scrollbar {
  display: none;
}

@media (min-width: 750px) {
  .HyggeList::-webkit-scrollbar {
    display: block;
  }
}

.Wrap {
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  white-space: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
