.HyggeImage {
  padding: 2rem 1rem;
  width: 30vh;
  height: 30vh;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}

@media (min-width: 300px) {
  .HyggeImage {
    width: 40vh;
    height: 40vh;
  }
}

@media (min-width: 500px) {
  .HyggeImage {
    width: 50vh;
    height: 50vh;
  }
}

.Circle {
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #c4c4c4;
  border-radius: 50%;
  box-shadow: 0.25rem 0 0.9rem #ffe4e4, 0 0.25rem 1.25rem #86827f;
}

.Circle:hover {
  box-shadow: 0.5rem 0 1.8rem #ffe4e4, 0 0.5rem 2.5rem #86827f;
}

.Expanded {
  margin-top: 10vh;
  width: 120vh;
  height: 120vh;
}

@media (min-width: 1200px) {
  .Expanded {
    margin-top: 27vh;
  }
}

.Shrunk {
  width: 0;
  height: 0;
}

.Shrunk .Circle {
  width: 0;
  height: 0;
}

.Attribution {
  width: 100%;
  position: fixed;
  bottom: 0.2rem;
  right: 0.5rem;
  text-align: right;
}
