.Menu {
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 100;
  background-color: #e4d6c9;
  background-color: var(--main);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}

.Menu:hover {
  background-color: #c4a589;
  background-color: var(--dark);
}

.Menu p {
  color: #f6f6f6;
  color: var(--text-light);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.Open {
  width: 80vh;
  height: 80vh;
  position: absolute;
  bottom: -10%;
  left: -25%;
  background-color: #f3eae2;
  background-color: var(--light);
  box-shadow: 0.25rem 0 0.25rem #c3a58930, 0 0.25rem 0.6rem #86827f3b;
}

.Open:hover {
  background-color: #f3eae2;
  background-color: var(--light);
}

@media (min-width: 500px) {
  .Open {
    bottom: 0;
    left: 0;
  }
}

.Open .MenuItem,
.Open .MenuItem a {
  margin: 1rem auto;
  padding: 0.5rem;
  width: 60%;
  color: #c4a589;
  color: var(--dark);
  font-weight: normal;
  text-decoration: none;
  text-shadow: 0.25rem 0.06rem 0.25rem #fff;
}

.Open .MenuItem:hover,
.Open .MenuItem:active {
  background-color: #f3eae2;
  background-color: var(--light);
  box-shadow: inset 0 0.25rem 0.25rem #c3a58940,
    inset 0 -0.25rem 0.25rem #fbfbfb40;
  border-radius: 2.8rem;
}

.MenuItem.Inactive {
  color: #e0dfdf;
  color: var(--disabled);
  cursor: not-allowed;
}

.MenuItem.Inactive:hover {
  background-color: transparent;
  box-shadow: none;
}
