.SuperHeader,
.Heading {
  margin: 20% 5% 0%;
  width: 90%;
  color: #ded8d3;
  color: var(--text-heading);
  font-size: 2rem;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.SuperHeader {
  font-size: 1.5rem;
}

.Heading {
  margin-top: 0;
}

.Expanded {
  margin-top: -20%;
}

@media (min-width: 500px) {
  .SuperHeader {
    margin-top: 5%;
  }

  .Expanded {
    margin-top: -10%;
  }
}
