.HyggeImage {
  padding: 2rem;
  width: 50vh;
  height: 50vh;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}

.Circle {
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.Expanded {
  width: 120vh;
  height: 120vh;
}

.Shrunk {
  width: 0;
  height: 0;
}

.Shrunk .Circle {
  width: 0;
  height: 0;
}
