.SubHeading {
  margin: 1rem 0;
  border-top: 0.06rem solid #e1e1e1;
  border-bottom: 0.06rem solid #e1e1e1;
  color: #897d6e;
  font-size: 1.4rem;
  font-weight: normal;
  text-shadow: 0.25rem 0.06rem 0.25rem #e3dcdc;
}

.Collection {
  padding: 0.6rem;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Circle {
  margin: 0 0.5rem;
  width: 3.5rem;
  min-width: 3.5rem;
  height: 3.5rem;
  background-color: #86827f;
  border-radius: 50%;
  cursor: pointer;
}

.Circle:first-of-type {
  margin-left: 0;
}

.Circle:hover {
  box-shadow: 0.25rem 0 0.9rem #ffe4e4, 0 0.25rem 1.25rem #86827f;
}
