.Circle {
  margin: 0 0.5rem;
  width: 7rem;
  height: 7rem;
  min-width: 3.5rem;
  background-color: #deddd9;
  border-radius: 50%;
  cursor: pointer;
}

.Circle:first-of-type {
  margin-left: 0;
}

.Circle:hover {
  box-shadow: 0.25rem 0 0.9rem #ffe4e4, 0 0.25rem 1.25rem #86827f;
}

.SubHeading,
.Value {
  margin: 2.2rem 0 0 0;
  color: #075d63;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
  text-shadow: 0.25rem 0.06rem 0.25rem #e3dcdcdb;
}

.Big {
  margin-top: -1rem;
  color: #f6f6f6;
  font-size: 6.5rem;
}

.Value {
  margin: 0;
  font-size: 1.2rem;
}
